// Write your overrides
td {
    max-width: 250px;
    overflow: auto;
}

.swal2-container {
    z-index: 9988;
}

.swal2-styled {
    color: white !important;
    /* สีฟอนต์ */
}

.swal2-confirm {
    background: linear-gradient(270deg, #021591b3 0%, #021591 100%) !important;
    // background-color: #28a745 !important; /* สีพื้นหลังปุ่ม */
    border-radius: 5px;
    padding: 10px 20px;
}

.swal2-cancel {
    background-color: #dc3545 !important;
    /* สีพื้นหลังปุ่มยกเลิก */
    color: white !important;
    border-radius: 5px;
    padding: 10px 20px;
}

.detail-usergenerate {
    p {
        margin-block-end: 0.5rem;
    }
}

.v-switch.v-switch--inset .v-selection-control__wrapper {
    transform: scale(1.2);
    /* ปรับขนาดใหญ่ขึ้น 1.5 เท่า */
    .v-selection-control .v-label {
        font-size: 1.2rem;
        /* ปรับขนาดของ label */
    }
}

.currentLocale {
    width: 20%;
    .v-input__control {
        .v-selection-control-group {
            flex-direction: row !important;
        }
    }
}

.bannerPreviews-con {
}

.bannerPreviewsZone {
    .bannerPreviews {
        position: relative;
        align-items: center;
        background-color: #000;
        display: flex;
        // height: 100%;
        justify-content: center;
        // width: 100%;
        width: 100vw;
        height: 540px;
        .banner-Img-Zone {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .banner-Text-Zone {
            text-align: left;
            padding-left: 10%;
            position: absolute;
            left: 0;
            width: 100%;
            .banner-Text-Zone-Title {
                margin-bottom: 25px;
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                .Title {
                    max-width: 50%;
                    margin-bottom: 0px;
                    max-height: 280px;
                    overflow: auto;
                    /* ตกแต่งตัว scrollbar */
                    &::-webkit-scrollbar {
                        width: 2px;
                        /* ความกว้างของ scrollbar */
                    }
                    /* ตกแต่ง background ของ scrollbar */
                    &::-webkit-scrollbar-track {
                        background: rgba(241, 241, 241, 0);
                        /* สีพื้นหลังของ track */
                        border-radius: 5px;
                        /* มุมโค้ง */
                    }
                    /* ตกแต่งแถบ scrollbar */
                    &::-webkit-scrollbar-thumb {
                        background: #dbdbdb28;
                        /* สีของ scrollbar */
                        border-radius: 5px;
                        /* มุมโค้ง */
                    }
                    /* เปลี่ยนสี scrollbar เมื่อ hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: #aaaaaade;
                        /* สีเมื่อ hover */
                        width: 10px;
                    }
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        line-height: inherit;
                        margin: 0;
                    }
                }
                p {
                    color: #fff;
                    font-size: 1.25rem;
                    font-weight: 700;
                    margin-bottom: 5px;
                }
                h3 {
                    color: #fff;
                }
            }
            .banner-Btn-Zone {
                width: fit-content;
                margin-bottom: 25px;
                .banner-Btn-custom {
                    background: linear-gradient(135deg, #0054a6, #0083ca);
                    --bs-btn-border-color: unset;
                    box-shadow:
                        inset 0px 2px 9px #ffffffbb,
                        3px 4px 12px #00000055;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 50px;
                    font-weight: 500;
                    font-size: 0.75rem;
                    transition: all 0.3s ease-out 0s;
                    &:hover {
                        box-shadow:
                            inset 0px 2px 9px #ffffffbb,
                            3px 4px 33px #00000055;
                        transform: scale(1.05);
                        // color: #ddd;
                    }
                }
            }
            &.mobile {
                padding-left: 2%;
                .banner-Text-Zone-Title {
                    margin-bottom: 20px;
                    .Title {
                        max-width: 94%;
                        margin-bottom: 0px;
                        max-height: 270px;
                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6 {
                            line-height: 1.2;
                        }
                    }
                    p {
                        font-size: 1em;
                        font-weight: 500;
                        margin-bottom: 3px;
                    }
                    span {
                        // font-size: 0.75rem;
                    }
                }
                .banner-Btn-Zone {
                    margin-bottom: 5px;
                    .banner-Btn-custom {
                        // padding: 10px 20px;
                        font-weight: 500;
                        font-size: 12px;
                    }
                }
            }
        }
        &.bannerPreviews_mobile {
            width: 362px;
            height: 40vh;
        }
    }
}

.managamentPreviewsZone {
    .banner-Btn-Zone {
        width: fit-content;
        background: linear-gradient(320deg, #0054a6, #0083ca 50%, #fcaf17 0, #ed1c24);
        background-position: 99%;
        background-size: 250%;
        border-radius: 50px;
        box-shadow:
            0 2px 9px #fffb,
            3px 4px 12px #0005;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        font-weight: 300;
        padding: 5px 20px;
        transition: all 0.3s ease-out 0s;
        &:hover {
            background-position: 0;
            box-shadow: 3px 4px 3px #0005;
            color: #ecf1f9;
            transform: scale(1.01);
        }
    }
    .title {
        h3 {
            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }
    .top-zone {
        position: relative;
        align-items: center;
        .right {
            padding: 0 20px;
            .banner-Zone {
                width: 100%;
                img {
                    border-radius: 20px;
                    width: 100%;
                }
            }
        }
        .left {
            .Title {
                font-weight: 700;
                padding: 20px 0;
                p {
                    font-size: 14px;
                    // span {
                    //   font-size: 24px;
                    //   font-weight: 700;
                    //   color: $warning-color-1;
                    // }
                }
                .detail {
                    font-size: 14px;
                    color: #021591b3;
                }
            }
        }
    }
}

.newPreviewsZone {
    .banner-Btn-Zone {
        width: fit-content;
        background: linear-gradient(320deg, #0054a6, #0083ca 50%, #fcaf17 0, #ed1c24);
        background-position: 99%;
        background-size: 250%;
        border-radius: 50px;
        box-shadow:
            0 2px 9px #fffb,
            3px 4px 12px #0005;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        font-weight: 300;
        padding: 5px 20px;
        transition: all 0.3s ease-out 0s;
        &:hover {
            background-position: 0;
            box-shadow: 3px 4px 3px #0005;
            color: #ecf1f9;
            transform: scale(1.01);
        }
    }
    .title {
        h3 {
            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }
    .top-zone {
        position: relative;
        // align-items: center;
        .right {
            text-align: center;
            padding: 0 20px;
            &.imgcenter {
                max-width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                img {
                    border-radius: 20px;
                    max-width: 450px;
                    width: auto;
                    max-height: 450px;
                }
            }
            .banner-Zone {
                width: 100%;
                img {
                    max-width: 100%;
                    border-radius: 20px;
                }
            }
        }
        .left {
            &.Colcenter {
                max-width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-content: center;
                align-items: center;
            }
            .Title {
                font-weight: 700;
                padding: 20px 0;
                p {
                    font-size: 14px;
                    // span {
                    //   font-size: 24px;
                    //   font-weight: 700;
                    //   color: $warning-color-1;
                    // }
                }
                .detail {
                    font-size: 14px;
                    color: #021591b3;
                }
            }
        }
    }
}

.radio-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.radio-option {
    padding: 10px;
    border: 2px solid #ccc;
    cursor: pointer;
    width: 80px;
    text-align: center;
}

.radio-option.selected {
    border-color: #007bff;
    background-color: #007bff;
    color: white;
}

.submit-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    .submit-btn-custom {
        background: linear-gradient(135deg, #0054a6, #0083ca);
        --bs-btn-border-color: unset;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        transition: all 0.3s ease-out 0s;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
            // color: #ddd;
        }
    }
    .cancel-btn-custom {
        background-color: #dc3545 !important;
        /* สีพื้นหลังปุ่มยกเลิก */
        color: white !important;
        border-radius: 5px;
        padding: 10px 20px;
        transition: all 0.3s ease-out 0s;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
            // color: #ddd;
        }
    }
}

.download-pdf {
    display: flex;
    justify-content: center;
    margin: 1rem !important;
    .card {
        box-shadow:
            inset 0px 2px 9px #ffffffbb,
            3px 4px 0.75rem #00000055;
        overflow: hidden;
        border: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        border-radius: 10px;
        .card-body {
            position: relative;
            padding: 1rem 4rem;
            flex-grow: 1;
            height: 100%;
            .download-pdf-btn {
                .btn--outline-link {
                    width: fit-content;
                    position: relative;
                    padding-bottom: 0.5rem;
                    font-size: 0.75rem;
                    font-weight: 700;
                    color: #888;
                    transition: all 0.3s ease-in-out;
                    svg {
                        path {
                            stroke: #888;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 2px;
                        background-color: #fff;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            height: 45px;
            width: 45px;
            border-radius: 0 0 2rem 0;
            background-image: linear-gradient(to bottom right, #e7004c, #00abc8);
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            color: #fff;
            text-decoration: none;
            .download-pdf-btn {
                .btn--outline-link {
                    font-size: 0.75rem;
                    font-weight: 700;
                    color: #fff;
                    svg path {
                        stroke: #fff;
                    }
                    &:before {
                        width: 100%;
                    }
                }
            }
            &:before {
                width: 100%;
                height: 100%;
                border-radius: 0;
                opacity: 1;
            }
        }
    }
}

.ImagePosition-zone {
    display: flex;
    flex-direction: column;
    .btn-Zone {
        display: flex;
        .ImagePosition-btn-custom {
            border: solid 1px #999;
            color: #999;
            padding: 10px 20px;
            border-radius: 5px;
            transition: all 0.3s ease-out 0s;
            cursor: pointer;
            &:hover {
                transform: scale(1.05);
                // color: #ddd;
            }
        }
        .active {
            color: #fff;
            background-color: rgb(115, 103, 240);
        }
    }
}

.ViewSupplier-Title {
    padding-bottom: 1rem;
    color: rgb(115, 103, 240);
    font-size: 20px;
    font-weight: 700;
}
.viewDetail {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 1rem;
}
.titleDetail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .Title_Detail {
        margin-right: 20px;
        margin-bottom: 0;
    }
}
